.card-container {
    // position: absolute;
    background-color: transparent !important;
    box-shadow: none !important;
    text-align: justify;
    margin-left: 25px;
}
.font-face-at {
    p {
        font-family: "Atrament";
        font-size: 16px;
        color: black;
    }
}
.MuiCardContent-root {
    position: absolute;
    width: 25vw;
}
p.MuiTypography-root:nth-child(1) {
    font-size: 31px;
    font-weight: bold;
    text-transform: uppercase;
}
