#nav-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.menu-sticker {
    position: absolute;
    width: 7.5vw;
    top: 0;
    left: 0;
    margin-left: 100px;
    opacity: 0.85;
    &:hover {
        opacity: 1;
        // filter: invert(1);
        transition: 350ms ease-in-out;
    }
}
.button-container {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65vw;
    height: 6.5vh;
    background-color: #ff70db;
    button {
        cursor: pointer;
        &:hover {
            filter: invert(1);
            transition: 400ms ease-in-out;
        }
    }
}
.font-face-at {
    h3 {
        font-family: "Atrament";
        font-size: 31px;
        font-weight: 600;
        color: black;
    }
}
.socials-container {
    position: absolute;
    display: flex;
    width: 35px;
    right: 0;
    margin-right: 150px;
    a {
        opacity: 0.95;
        &:hover {
            transform: scale(1.1);
            opacity: 1;
            transition: 300ms ease-in-out;
        }
    }
    img {
        width: 45px;
        margin-right: 5px;
    }
}
#nav-container > div.socials-container > a:nth-child(1) {
    margin-right: 5px;
}
.btn-experience.active h3 {
    color: #75d5fd;
    transition: 350ms ease-in-out;
}
.btn-tickets.active h3 {
    color: #75d5fd;
    transition: 350ms ease-in-out;
}
.btn-events.active h3 {
    color: #75d5fd;
    transition: 350ms ease-in-out;
}
.btn-about.active h3 {
    color: #75d5fd;
    transition: 350ms ease-in-out;
}
.btn-info.active h3 {
    color: #75d5fd;
    transition: 350ms ease-in-out;
}
.btn-shop.active h3 {
    color: #75d5fd;
    transition: 350ms ease-in-out;
}
